.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
*.Rproj
.Rproj.user/

packages/
*.tar.gz
*.Rcheck/

*_cache/
*_files/
*.html
*.pdf
*.knit.md
*.utf8.md

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

output/
results/
figures/